* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  width: 100%;
}

.text {
  color: #fff;
  font-family: Scheherazade;
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
}

.slider {
  position: relative;
  display: block;
}

.slider-image-before {
  display: block;
}

.slider-text-before,
.slider-text-after {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
}

.slider-image-after {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.slider-separator {
  width: 4px;
  height: 62%;
  position: absolute;
  bottom: 10;
  left: 50%;
  background: #d00000;
  transform: translateX(-2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-handler {
  width: 60px;
  height: 60px;
  background: #d00000;
  border-radius: 50px;
  flex-shrink: 0;
  transition: all 0.5s ease;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-handler-left {
  background-image: url("../img/ellipse-left.png");
}

.slider-handler-middle {
  background-image: url("../img/ellipse-middle.png");
}

.slider-handler-right {
  background-image: url("../img/ellipse-right.png");
}

.slider-range {
  position: absolute;
  inset: 0;
  opacity: 0;
}
